{% extends '::base_form_page.html.twig' %}

{% block breadcrumbs %}
    {{ render_breadcrumbs() }}
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="Message Information">{{ flashMessage }}</div>
    {% endfor %}

    {{ parent() }}
{% endblock %}

{% block formTitle %}Edit password{% endblock %}

{% block formFields %}
    {{ form(form) }}
{% endblock %}

{% block helpContent %}
    {{ include('WHAAMPrivateApplicationUserBundle:User:editFormPasswordHelp.html.twig') }}
{% endblock %}