{% extends '::base_public.html.twig' %}

{% block body %}
    <div class="Main">
        <div class="page-container-center">
            <div class="page-center">
                <div class="signup-page">
                    <div class="page-title-container">
                        <div class="page-title">
                            <h1>{% trans from "public_interface" %}pwd_recovery{% endtrans %}</h1>
                        </div>
                    </div>

                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="Message Error">{{ flashMessage }}</div>
                    {% endfor %}

                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="Message Information">{{ flashMessage }}</div>
                    {% endfor %}

                    <div class="signup-line-toleft"></div>

                    <form action="{{ path('user_forgot_password') }}" method="post" novalidate="novalidate">
                        <div class="BoxContainer yellow">
                            <div class="Text">

                                <div class="Sign">
                                    <div class="MessageRequired">
                                        {{ form_errors(form.email) }}
                                    </div>
                                    <p> {% trans from "public_interface" %}forgot_password_message{% endtrans %} </p>
                                    <label for="mail" class="mail"></label>
                                    {{ form_widget(form.email) }}
                                </div>
                                <div style="width:418px; float:left; text-align:right; padding:0 15px;">
                                    <button type="submit" class="Button">{% trans from "public_interface" %}send_pwd{% endtrans %}</button>
                                </div>
                            </div>
                        </div>

                        {{ form_widget(form._token) }}
                    </form>

                    <div style="height:50px;"></div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}