<form action="{{ form.vars.action }}" method="post" novalidate="true" {{ form_enctype(form) }}>
    {{ form_row(form.base_user.surname) }}
    {{ form_row(form.base_user.name) }}
    {{ form_row(form.base_user.sex) }}
    {{ form_row(form.base_user.dateOfBirth) }}
    {{ form_row(form.base_user.nation) }}
    {{ form_row(form.base_user.otherNation) }}
    {{ form_row(form.base_user.isHealthProfessional) }}
    {{ form_row(form.base_user.healthProfessionalClientsAgeRange) }}
    {{ form_row(form.base_user.healthProfessionalSpecialties) }}
    {{ form_row(form.base_user.healthProfessionalTreatmentApproaches) }}
    {{ form_row(form.base_user.healthProfessionalTreatmentModalities) }}
    {{ form_row(form.username) }}
    {{ form_row(form.password) }}
    {{ form_row(form.email) }}

    <tr>
        <td colspan="2" class="condition">
            <div class="MessageRequired">
                {{ form_errors(form.terms_acceptance) }}
            </div>
            {{ form_label(form.terms_acceptance) }}
            {{ form_widget(form.terms_acceptance) }}
        </td>
    </tr>

    {{ form_row(form.submit, {'attr': {'class': 'Button'} }) }}
    {{ form_widget(form._token) }}
</form>
