<html>
    <head></head>
    <body>
        <p>{% trans from "email_new_password" %}dear{% endtrans %} {{ user.getSurnameNameOrUsername }},</p>
        <p>{% trans from "email_new_password" %}new_login_information_sentence{% endtrans %}</p>

        <ul>
            <li>{% trans from "email_new_password" %}username{% endtrans %}: {{ user.username }}</li>
            <li>{% trans from "email_new_password" %}password{% endtrans %}: {{ newPassword }}</li>
        </ul>

        <p>{% trans from "email_new_password" %}login_url_sentence{% endtrans %}
            <a href="{{ url('_login') }}" target="_blank">{{ url('_login') }}</a>
        </p>

        <p>{% trans from "email_new_password" %}signature_sentence{% endtrans %}</p>
    </body>
</html>