{% extends '::base_private.html.twig' %}

{% block navigation %}
    {{ include('WHAAMPrivateApplicationChildBundle:Child:menuAllEnabled.html.twig', {'child' : child}) }}
{% endblock %}

{% block breadcrumbs %}
    {{ render_breadcrumbs() }}
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="Message Error">{{ flashMessage }}</div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="Message Information">{{ flashMessage }}</div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('warning-' ~ child.slug) %}
        <div class="Message Warning">{{ flashMessage|raw }}</div>
    {% endfor %}

    <div class="view-page">
        <div class="main-container">
            <div class="Box">
                <div class="Box-title"><h1>{% trans from "interface" %}discipline_referral{% endtrans %}</h1></div>

                <div class="Box-table">
                    <div class="Box-table-row">
                        <div class="CellName"><strong>{% trans from "interface" %}date_of_discipline_referral{% endtrans %}:</strong></div>
                        <div class="CellValue">{{ childDisciplineReferral.date | localizeddate('medium', 'none', null) }}</div>
                    </div>

                    <div class="Box-table-row">
                        <div class="CellName"><strong>{% trans from "interface" %}type{% endtrans %}:</strong></div>
                        <div class="CellValue">{{ childDisciplineReferral.getDisciplineReferralType }}</div>
                    </div>

                    <div class="Box-table-row">
                        <div class="CellName"><strong>{% trans from "interface" %}motivation{% endtrans %}:</strong></div>
                        <div class="CellValue">{{ childDisciplineReferral.motivation }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}