<form action="{{ form.vars.action }}" method="post" novalidate="true" {{ form_enctype(form) }}>
    {{ form_row(form.base_phase.startDate) }}
    {{ form_row(form.base_phase.endDate) }}

    {{ form_row(form.observer) }}
    {{ form_row(form.minimumNumberOfObservations) }}
    {{ form_row(form.observationLength) }}
    {{ form_row(form.observationType) }}
    {{ form_row(form.ABCUsers) }}

    {{ form_row(form.submit) }}

    {{ form_rest(form) }}
</form>
