{% extends '::base_private.html.twig' %}

{% block breadcrumbs %}
    {{ render_breadcrumbs() }}
{% endblock %}

{% block body %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="Message Information">{{ flashMessage }}</div>
    {% endfor %}

    <div class="notification-page">
        <div class="table-main-container">
            <div class="table-container">
                <div class="table-title">
                    <div class="button">
                        <a href="{{ path('notification_delete_all') }}" class="btn-delete-all">{% trans from "interface" %}delete_all{% endtrans %}</a>
                        <a href="{{ path('notification_read_all') }}" class="btn-make-all-as-read">{% trans from "interface" %}mark_all{% endtrans %}</a>
                    </div>
                </div>


                <div class="table-content">
                    <table class="tcontent">
                        <tbody><tr>
                            <th>{% trans from "interface" %} message {% endtrans %}</th>
                            <th>{% trans from "interface" %} date {% endtrans %}</th>
                            <th></th>
                            <th></th>
                        </tr>


                        {% for notification in notifications %}
                            {% set class = (notification.isRead == 1) ? 'msg-read' : 'msg-not-read' %}
                            <tr class="{{ class }}">
                                <td>
                                    {% if(notification.url) %}
                                        <a id="notification-{{ notification.id }}" href="{{ notification.url }}">{{ notification.content | raw }}</a>
                                    {% else %}
                                        {{ notification.content | raw }}
                                    {% endif %}
                                </td>
                                <td>{{ notification.createdAt | localizeddate('medium', 'short', null) }}</td>
                                <td><a title="{% trans from "interface" %} mark_as_read {% endtrans %}" href="{{ path('notification_update_read_status', { "notificationId": notification.id }) }}" class="icon-tool icon-make-read"></a>&nbsp;
                                    <a title="{% trans from "interface" %} delete {% endtrans %}" href="{{ path('notification_delete', { "notificationId": notification.id }) }}" class="icon-tool icon-delete-notification"></a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}